@model CRUD_Personas_BBDD_Azure_ASP.NET_MVC_.Models.ViewModels.PersonaListaDepartamentoVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" required/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" required/>
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" type="date" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                @if(Model.Foto is not null)
                {
                    <img src="data:image/jpg;base64, @Convert.ToBase64String(Model.Foto)" height="100" width="200"/>
                }
                <input asp-for="Foto" type="file" accept=".jpg, .jpng, .png" />
                <span asp-validation-for="Foto" class="text-danger" accept=".jpg, .jpng, .png"></span>
            </div>
            <div class="form-group">
                <select name="IDDepartamento">
                    @foreach (CRUD_Personas_Entities.clsDepartamento dpto in Model.ListaDepartamento)
                    {
                        if (dpto.ID != 1)@*Id del departamento 'sin departamento'*@
                            <option value = "@dpto.ID" selected ="@((Model.IdDepartamento==dpto.ID)? "selected" : false)" > @dpto.Nombre  </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Volver", "Index", "Personas") 
</div>

