@model CRUD_Personas_BBDD_Azure_ASP.NET_MVC_.Models.ViewModels.IndexVM

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaPrincipal[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaPrincipal[0].Apellidos)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.ListaPrincipal[0].FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaPrincipal[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaPrincipal[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaPrincipal[0].Departamento)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaPrincipal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
            </td>
        </tr>

}
    </tbody>
</table>
